<!DOCTYPE html>
<html lang="en">

{{ include('shared/header.twig') }}

<body>
    {{ include('shared/nav.twig') }}

    {% if orders|length < 1 %}
    <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Review Orders</h2>
        <p class="lead mb-0">Thanks for registering with Bright Minds Tutoring! 
            <br>Please use the <a href=".?action=Show Sign Up">Sign Up Form</a> to 
            schedule a tutoring session. <br>You currently have 0 students signed up.</p>
      </div>
        </div>
    </section>
        
        
    {% else %}
  <!-- Services section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Review Orders</h2>
        <p class="lead mb-0">Thank you for signing up! One of our tutors 
            will reach out to you within 2 business days. <br> If you'd like to 
            sign up another student or sign up for another subject, please 
            fill out another <a href=".?action=Show Sign Up">form.</a></p>
      </div>
        <div class="row gx-5 justify-content-center">
        <div class="flex-shrink-0">
        <div class="container">
        <div class="border bg-white px-5 py-3 mb-5">
            <table class="table table-responsive table-mobile-responsive">
             <thead>
               <tr>
                 <th scope="col">Student</th>
                 <th scope="col">Subject</th>
                 <th scope="col">Location</th>
                 <th scope="col">Grade Level</th>
                </tr>
             </thead>
             <tbody>
               {% for order in orders %}
               <tr>
                 <td>{{ order.studentName }}</td>
                 <td>{{ order.subject }}</td>
                 <td>{{ order.location }}</td>
                 <td>{{ order.level }}</td>
               </tr>
               {% endfor %}
             </tbody>
            </table>
        </div>
        </div>
        </div>
       </div>
       
    </div>
  </section>
{% endif %}
    {{ include('shared/footer.twig') }}
    {{ include('shared/script.twig') }}
</body>

</html>